Repository jStrider/food-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

.lintstagedrc.json:

{
  "backend/**/*.{ts,js}": [
    "cd backend && npm run lint -- --fix",
    "cd backend && npm test -- --findRelatedTests --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "cd frontend && npm run lint -- --fix",
    "cd frontend && npm test -- --findRelatedTests --passWithNoTests run"
  ]
}

fix: remove deprecated husky configuration from pre-commit hook
  .husky/pre-commit
Due: none

fix: configure CORS properly for production environment
  .husky/pre-commit
  CLAUDE.md
  TODO.md
  backend/.env.example
  backend/docs/CORS_CONFIGURATION.md
  backend/src/config/cors.config.spec.ts
  backend/src/config/cors.config.ts
  backend/src/features/auth/auth.controller.integration.spec.ts
  backend/src/features/auth/auth.controller.spec.ts
  backend/src/features/auth/auth.service.spec.ts
  backend/src/main.ts
  backend/test/cors.e2e-spec.ts
  frontend/e2e/registration.spec.ts
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/pages/RegisterPage.tsx
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

feat: add Playwright E2E tests with pre-commit integration
  .env.docker
  .husky/pre-commit
  backend/.env.example
  backend/src/config/cors.config.ts
  frontend/e2e/smoke-test.spec.ts
  frontend/playwright.config.ts
  frontend/scripts/test-e2e-ci.sh
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: resolve login E2E tests issues
  frontend/.env.docker
  frontend/.env.test
  frontend/e2e/global-setup.ts
  frontend/e2e/login-essential.spec.ts
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

docs: mark login/logout functionality as completed
  TODO.md
Due: none

feat: fix build errors and add missing UI components
  CLAUDE.md
  backend/.env.example
  backend/SECURITY_FIXES_SUMMARY.md
  backend/docs/SECURITY.md
  backend/src/app.module.ts
  backend/src/common/health.controller.ts
  backend/src/config/env.validation.ts
  backend/src/features/auth/auth.controller.integration.spec.ts
  backend/src/features/auth/auth.controller.spec.ts
  backend/src/features/auth/auth.controller.ts
  backend/src/features/auth/auth.module.ts
  backend/src/features/auth/auth.service.spec.ts
  backend/src/features/auth/auth.service.ts
  backend/src/features/auth/constants/security.constants.ts
  backend/src/features/auth/decorators/roles.decorator.ts
  backend/src/features/auth/dto/auth-response.dto.ts
  backend/src/features/auth/dto/refresh-token.dto.ts
  backend/src/features/auth/guards/roles.guard.ts
  backend/src/features/auth/strategies/jwt.strategy.ts
  backend/src/features/users/entities/user.entity.ts
  backend/src/migrations/add-user-roles-permissions.migration.ts
  backend/src/test/test-app.module.ts
  frontend/e2e/login-essential.spec.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/calendar/components/DayView.test.tsx
  frontend/src/features/foods/components/FoodSearch.test.tsx
  frontend/src/utils/apiClient.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: resolve backend linting errors
  backend/src/app.module.ts
  backend/src/common/health.controller.ts
  backend/src/config/cors.config.spec.ts
  backend/src/config/cors.config.ts
  backend/src/config/env.validation.ts
  backend/src/features/auth/auth.controller.integration.spec.ts
  backend/src/features/auth/auth.controller.spec.ts
  backend/src/features/auth/auth.controller.ts
  backend/src/features/auth/auth.service.spec.ts
  backend/src/features/auth/auth.service.ts
  backend/src/features/auth/constants/security.constants.ts
  backend/src/features/auth/decorators/roles.decorator.ts
  backend/src/features/auth/dto/auth-response.dto.ts
  backend/src/features/auth/dto/refresh-token.dto.ts
  backend/src/features/auth/guards/roles.guard.ts
  backend/src/features/auth/strategies/jwt.strategy.ts
  backend/src/features/users/entities/user.entity.ts
  backend/src/migrations/add-user-roles-permissions.migration.ts
  backend/test/cors.e2e-spec.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

chore: final repository cleanup and contributor verification
  README.md
Due: none

feat: initialize rate limiting feature development
  backend/src/main.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

feat: implement comprehensive rate limiting system
  backend/src/app.module.ts
  backend/src/common/decorators/api-rate-limit.decorator.ts
  backend/src/common/decorators/rate-limit.decorator.ts
  backend/src/common/guards/custom-throttler.guard.spec.ts
  backend/src/common/guards/custom-throttler.guard.ts
  backend/src/common/health.controller.ts
  backend/src/common/interceptors/rate-limit-headers.interceptor.ts
  backend/src/config/rate-limit.config.ts
  backend/src/features/auth/auth.controller.ts
  backend/src/features/meals/meals.controller.ts
  backend/src/main.ts
  backend/test/rate-limiting.e2e-spec.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

fix: resolve linting errors and add missing newlines
  backend/src/app.module.ts
  backend/src/common/decorators/api-rate-limit.decorator.ts
  backend/src/common/decorators/rate-limit.decorator.ts
  backend/src/common/guards/custom-throttler.guard.spec.ts
  backend/src/common/guards/custom-throttler.guard.ts
  backend/src/common/health.controller.ts
  backend/src/common/interceptors/rate-limit-headers.interceptor.ts
  backend/src/config/cors.config.spec.ts
  backend/src/config/cors.config.ts
  backend/src/config/rate-limit.config.ts
  backend/src/features/auth/auth.controller.integration.spec.ts
  backend/src/features/auth/auth.controller.spec.ts
  backend/src/features/auth/auth.controller.ts
  backend/src/features/auth/auth.service.spec.ts
  backend/src/features/meals/meals.controller.ts
  backend/src/main.ts
  backend/test/cors.e2e-spec.ts
  backend/test/rate-limiting.e2e-spec.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

Fix stray '0' displayed at bottom of Daily Summary block
  .lintstagedrc.json
  frontend/package.json
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/calendar/components/DayViewTimeline.tsx
  frontend/src/features/calendar/components/MonthView.tsx
  frontend/src/features/calendar/components/WeekView.tsx
  frontend/src/features/foods/components/AddFoodToMealModal.tsx
  frontend/src/features/foods/components/FoodSearch.tsx
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

layout: fix responsive layout adjustments
  frontend/src/components/Layout.tsx
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

layout: implement two-column Day view layout
  frontend/src/features/calendar/components/DayView.tsx
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: adjust rate limiting for authentication endpoints
  backend/README-rate-limiting.md
  backend/src/common/health.controller.ts
  backend/src/config/rate-limit.config.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

fix: increase rate limits for normal app usage
  backend/src/config/rate-limit.config.ts
  backend/src/features/nutrition/nutrition.controller.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

fix: resolve ThrottlerStorageService dependency injection error
  backend/README-rate-limiting.md
  backend/src/common/health.controller.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests

fix: improve authentication resilience and rate limiting
  backend/src/features/auth/auth.controller.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/utils/apiClient.ts
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

docker: fix bcrypt compilation with retry mechanism and fallback
  backend/Dockerfile.bcryptjs
  backend/README-Docker-bcrypt.md
Due: none

fix: restore authentication resilience after linter modifications
  test-swarm.sh
Due: none

layout: implement two-column Day view layout (#85)
  backend/Dockerfile.bcryptjs
  backend/README-Docker-bcrypt.md
  backend/README-rate-limiting.md
  backend/src/common/health.controller.ts
  backend/src/config/rate-limit.config.ts
  backend/src/features/auth/auth.controller.ts
  backend/src/features/nutrition/nutrition.controller.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/utils/apiClient.ts
  test-swarm.sh
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

feat: fix meal creation and enhance forms with auto-time and custom macros
  frontend/src/components/ui/separator.tsx
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/meals/components/CreateMealModal.tsx
  frontend/src/features/meals/components/EditMealModal.tsx
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: implement multiple UX improvements and optimizations
  .env.docker
  TODO.md
  backend/src/database/database.module.ts
  docker-compose.yml
  frontend/package.json
  frontend/src/components/ui/tabs.tsx
  frontend/src/features/meals/components/CreateMealModal.tsx
  frontend/src/features/meals/components/EditMealModal.tsx
  package-lock.json
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: improve meal management UI and fix EditMealModal data retention
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/meals/components/EditMealModal.tsx
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: nutrition data refresh after meal operations
  backend/src/features/meals/dto/create-meal.dto.ts
  backend/src/features/meals/dto/meal-response.dto.ts
  backend/src/features/meals/dto/update-meal.dto.ts
  backend/src/features/meals/entities/meal.entity.ts
  backend/src/features/meals/meals.service.ts
  backend/src/features/nutrition/nutrition.service.ts
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/calendar/components/DayViewTimeline.tsx
  frontend/src/features/foods/components/FoodSearch.tsx
  frontend/src/features/meals/api/mealsApi.ts
  frontend/src/features/meals/components/EditMealModal.tsx
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: nutrition data refresh after adding food to meals
  frontend/src/features/foods/components/AddFoodToMealModal.tsx
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

fix: nutrition data refresh after meal operations (#95)
  backend/src/features/meals/dto/create-meal.dto.ts
  backend/src/features/meals/dto/meal-response.dto.ts
  backend/src/features/meals/dto/update-meal.dto.ts
  backend/src/features/meals/entities/meal.entity.ts
  backend/src/features/meals/meals.service.ts
  backend/src/features/nutrition/nutrition.service.ts
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/calendar/components/DayViewTimeline.tsx
  frontend/src/features/foods/components/AddFoodToMealModal.tsx
  frontend/src/features/foods/components/FoodSearch.tsx
  frontend/src/features/meals/api/mealsApi.ts
  frontend/src/features/meals/components/EditMealModal.tsx
Due: cd backend && npm run lint -- --fix, cd backend && npm test -- --findRelatedTests --passWithNoTests, cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

feat(calendar): implement virtualization for calendar grid
  frontend/package.json
  frontend/src/config/features.ts
  frontend/src/features/calendar/components/CalendarView.tsx
  frontend/src/features/calendar/components/MonthView.tsx
  frontend/src/features/calendar/components/MonthViewVirtualized.tsx
  frontend/src/features/calendar/components/views/MonthView/DayCell.tsx
  frontend/src/features/calendar/components/views/MonthView/VirtualizedMonthGrid.tsx
  frontend/src/hooks/usePerformanceMonitor.ts
  frontend/src/hooks/useWindowSize.ts
  package-lock.json
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run

test(calendar): add comprehensive test coverage for calendar hooks
  frontend/src/features/calendar/hooks/__tests__/useCalendarData.test.tsx
  frontend/src/features/calendar/hooks/__tests__/useCalendarNavigation.test.ts
  frontend/src/features/calendar/hooks/__tests__/useCalendarStats.test.ts
  frontend/src/features/calendar/hooks/__tests__/useMealOperations.test.tsx
  frontend/src/features/calendar/hooks/index.ts
  frontend/src/features/calendar/hooks/useCalendarData.ts
  frontend/src/features/calendar/hooks/useCalendarNavigation.ts
  frontend/src/features/calendar/hooks/useCalendarStats.ts
  frontend/src/features/calendar/hooks/useMealOperations.ts
Due: cd frontend && npm run lint -- --fix, cd frontend && npm test -- --findRelatedTests --passWithNoTests run
