Repository jStrider/food-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

fix: resolve all TypeScript compilation errors in backend tests
  backend/package.json
  backend/src/config/config.service.spec.ts
  backend/src/config/env.validation.spec.ts
  backend/src/features/calendar/calendar.controller.integration.spec.ts
  backend/src/features/calendar/calendar.controller.spec.ts
  backend/src/features/calendar/calendar.service.spec.ts
  backend/src/features/foods/foods.controller.integration.spec.ts
  backend/src/features/foods/foods.controller.spec.ts
  backend/src/features/foods/foods.service.spec.ts
  backend/src/features/meals/meals.controller.integration.spec.ts
  backend/src/features/meals/meals.controller.spec.ts
  backend/src/features/meals/meals.service.spec.ts
  backend/src/features/nutrition/nutrition.controller.integration.spec.ts
  backend/src/features/nutrition/nutrition.controller.spec.ts
  backend/src/features/nutrition/nutrition.service.spec.ts
  backend/test/rate-limiting.e2e-spec.ts
  package-lock.json
Due: cd backend && npm run lint:fix

feat: implement testing infrastructure Phase 2 - Framework Updates
  backend/fix-all-test-variables.js
  backend/fix-final-test-issues.js
  backend/fix-remaining-test-issues.js
  backend/jest.config.js
  backend/package.json
  backend/src/common/guards/custom-throttler.guard.spec.ts
  backend/src/config/config.service.spec.ts
  backend/src/config/env.validation.spec.ts
  backend/src/features/calendar/calendar.controller.integration.spec.ts
  backend/src/features/calendar/calendar.controller.spec.ts
  backend/src/features/calendar/calendar.service.spec.ts
  backend/src/features/foods/foods.controller.integration.spec.ts
  backend/src/features/foods/foods.controller.spec.ts
  backend/src/features/foods/foods.service.spec.ts
  backend/src/features/meals/meals.controller.integration.spec.ts
  backend/src/features/meals/meals.controller.spec.ts
  backend/src/features/meals/meals.service.spec.ts
  backend/src/features/nutrition/nutrition.controller.integration.spec.ts
  backend/src/features/nutrition/nutrition.controller.spec.ts
  backend/src/features/nutrition/nutrition.service.spec.ts
  backend/test/jest-e2e.json
  backend/test/rate-limiting.e2e-spec.ts
Due: cd backend && npm run lint:fix

feat: implement testing infrastructure Phase 3 - Infrastructure
  .github/workflows/ci.yml
  .github/workflows/quality-monitoring.yml
  .pre-commit-config.yaml
  .zap/rules.tsv
  docs/TESTING_INFRASTRUCTURE.md
  package.json
  scripts/setup-testing.sh
Due: none

feat: implement comprehensive WCAG 2.1 AA accessibility compliance for calendar
  frontend/src/features/calendar/components/AccessibleCalendarGrid.tsx
  frontend/src/features/calendar/components/CalendarView.tsx
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/calendar/components/MonthView.tsx
  frontend/src/features/calendar/components/WeekView.tsx
  frontend/src/hooks/useAnnouncements.tsx
  frontend/src/hooks/useFocusManagement.ts
  frontend/src/hooks/useKeyboardNavigation.ts
  frontend/src/utils/accessibility.ts
Due: cd frontend && npm run lint:fix

feat: refactor calendar views with modular architecture (#96)
  frontend/docs/CALENDAR_MODULAR_ARCHITECTURE_COMPLETION.md
  frontend/docs/CALENDAR_MODULAR_ARCHITECTURE_PLAN.md
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/calendar/components/WeekView.tsx
  frontend/src/features/calendar/components/shared/CalendarHeader.tsx
  frontend/src/features/calendar/components/shared/DailySummaryCard.tsx
  frontend/src/features/calendar/components/shared/MealCard.tsx
  frontend/src/features/calendar/components/shared/MealCategorySection.tsx
  frontend/src/features/calendar/components/shared/WeekDayCard.tsx
  frontend/src/features/calendar/constants/mealCategories.ts
  frontend/src/features/calendar/hooks/useCalendarNavigation.ts
  frontend/src/features/calendar/hooks/useDailyNutrition.ts
  frontend/src/features/calendar/hooks/useMealManagement.ts
  frontend/src/features/calendar/utils/mealHelpers.ts
Due: cd frontend && npm run lint:fix

fix: update RegisterPage test for password strength validation
  .claude-flow/metrics/system-metrics.json
  frontend/src/pages/RegisterPage.test.tsx
Due: cd frontend && npm run lint:fix

fix: resolve linting errors for CI
  .claude-flow/metrics/system-metrics.json
  frontend/src/contexts/CalendarContext.tsx
  frontend/src/features/calendar/components/CalendarContainer.tsx
  frontend/src/features/calendar/components/shared/CalendarHeader.backup.tsx
  frontend/src/features/calendar/components/shared/CalendarHeader.tsx
  frontend/src/features/calendar/hooks/useCalendarData.ts
  frontend/src/features/calendar/hooks/useCalendarKeyboard.ts
Due: cd frontend && npm run lint:fix

fix: update password strength test to use correct medium password
  frontend/src/pages/RegisterPage.test.tsx
Due: cd frontend && npm run lint:fix

fix: add better-sqlite3 dev dependency and fix throttler guard test
  backend/package.json
  backend/src/common/guards/custom-throttler.guard.spec.ts
  package-lock.json
Due: cd backend && npm run lint:fix

fix: resolve test failures and linting errors in modular architecture PR
  backend/src/common/health.controller.ts
  backend/src/features/auth/auth.controller.ts
  backend/src/features/calendar/calendar.controller.spec.ts
  backend/src/features/calendar/calendar.service.spec.ts
  backend/src/features/meals/meals.controller.spec.ts
  backend/src/features/meals/meals.service.ts
  frontend/src/pages/RegisterPage.test.tsx
  frontend/src/utils/accessibility.ts
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

feat: implement comprehensive CI/CD pipeline with GitHub Actions
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/badges.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test-automation.yml
  .github/workflows/test-summary.yml
  README.md
  backend/jest.config.js
  backend/package.json
  backend/test/jest-e2e.json
  docker-compose.production.yml
  docker-compose.staging.yml
  docs/CI_CD_PIPELINE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEPLOYMENT_SECRETS.md
  frontend/e2e/global-teardown.ts
  frontend/lighthouserc.js
  frontend/playwright.config.enhanced.ts
  frontend/vitest.config.ts
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  scripts/backup.sh
  scripts/run-tests.sh
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

feat: add comprehensive Swagger/OpenAPI documentation
  backend/SWAGGER_DOCUMENTATION.md
Due: none

fix: resolve TypeScript errors in meal forms
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  frontend/src/features/meals/components/CreateMealModal.tsx
  frontend/src/features/meals/components/EditMealModal.tsx
  frontend/src/features/meals/hooks/useMealForm.ts
Due: cd frontend && npm run lint:fix

fix: resolve TypeScript errors in Food entity and CustomThrottlerGuard tests
  backend/.claude-flow/metrics/agent-metrics.json
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
  backend/src/common/guards/custom-throttler.guard.spec.ts
  backend/src/features/foods/entities/food.entity.ts
Due: cd backend && npm run lint:fix

feat: implement testing infrastructure Phase 2 - Framework Updates
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  backend/fix-all-test-variables.js
  backend/fix-final-test-issues.js
  backend/fix-remaining-test-issues.js
  backend/jest.config.js
  backend/package.json
  backend/src/common/guards/custom-throttler.guard.spec.ts
  backend/src/features/meals/meals.service.spec.ts
  backend/src/features/nutrition/nutrition.service.spec.ts
Due: cd backend && npm run lint:fix

feat: implement testing infrastructure Phase 3 - Infrastructure
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/ci.yml
  .github/workflows/quality-monitoring.yml
  .pre-commit-config.yaml
  .zap/rules.tsv
  docs/TESTING_INFRASTRUCTURE.md
  package.json
  scripts/setup-testing.sh
Due: none

feat: implement comprehensive WCAG 2.1 AA accessibility compliance for calendar
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  frontend/src/features/calendar/components/AccessibleCalendarGrid.tsx
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/calendar/components/MonthView.tsx
  frontend/src/features/calendar/components/WeekView.tsx
  frontend/src/hooks/useAnnouncements.tsx
  frontend/src/hooks/useFocusManagement.ts
  frontend/src/hooks/useKeyboardNavigation.ts
  frontend/src/utils/accessibility.ts
Due: cd frontend && npm run lint:fix

fix: resolve test failures in accessibility PR
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  backend/src/features/foods/entities/food.entity.ts
  frontend/src/pages/RegisterPage.test.tsx
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

feat: implement testing infrastructure Phase 2 - Framework Updates
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  backend/src/features/nutrition/nutrition.service.spec.ts
Due: cd backend && npm run lint:fix

feat: implement testing infrastructure Phase 3 - Infrastructure
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/ci.yml
Due: none

fix: resolve database timestamp type and RegisterPage test failures
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/task-metrics.json
  frontend/src/pages/RegisterPage.test.tsx
Due: cd frontend && npm run lint:fix

feat: implement testing infrastructure Phase 2 - Framework Updates (#107)
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/ci.yml
  backend/src/features/nutrition/nutrition.service.spec.ts
  frontend/src/pages/RegisterPage.test.tsx
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

fix: resolve TypeScript compilation errors in CI
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: none

fix: implement automatic default user creation on startup
  backend/src/database/database-init.service.ts
  backend/src/database/database.module.ts
  backend/src/database/index.ts
  backend/src/database/seed-temp-user.ts
  backend/src/features/foods/entities/food.entity.ts
  backend/src/features/users/users.service.ts
  frontend/src/App.tsx
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

fix: resolve TypeScript compilation errors
  .gitignore
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
  backend/src/common/constants/temp-user.constant.ts
  backend/src/common/health.controller.spec.ts
  backend/src/common/middleware/input-validation.middleware.spec.ts
  backend/src/config/config.controller.spec.ts
  backend/src/features/calendar/calendar.controller.ts
  backend/src/features/calendar/calendar.service.ts
  backend/src/features/meals/meals.service.spec.ts
  backend/src/features/nutrition/controllers/nutrition-goals.controller.ts
  backend/src/features/nutrition/services/nutrition-goals.service.ts
  backend/src/features/users/users.service.ts
  backend/src/main.ts
Due: cd backend && npm run lint:fix

wip: partial TypeScript error fixes
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
Due: none

fix: resolve Docker Compose build and runtime issues
  backend/src/app.module.ts
  backend/src/common/guards/input-sanitization.guard.ts
  backend/src/database/migrations/003-add-nutrition-goals.ts
  backend/src/features/users/users.controller.ts
  backend/src/mcp/mcp.service.ts
  frontend/src/components/ui/DatePicker.test.tsx
  frontend/src/components/ui/error-boundary.tsx
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/foods/components/FoodSearch.enhanced.test.tsx
  frontend/src/features/meals/components/CreateMealModal.tsx
  frontend/src/features/meals/hooks/useMealForm.ts
  frontend/src/features/nutrition/components/EnhancedNutritionGoalsCard.tsx
  frontend/src/features/nutrition/components/GoalProgressChart.tsx
  frontend/src/features/nutrition/hooks/useNutritionGoals.ts
  frontend/src/test/test-utils.tsx
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

Fix CI TypeScript compilation errors (#126)
  .gitignore
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
  backend/src/app.module.ts
  backend/src/common/constants/temp-user.constant.ts
  backend/src/common/guards/input-sanitization.guard.ts
  backend/src/common/health.controller.spec.ts
  backend/src/common/middleware/input-validation.middleware.spec.ts
  backend/src/config/config.controller.spec.ts
  backend/src/database/migrations/003-add-nutrition-goals.ts
  backend/src/features/calendar/calendar.controller.ts
  backend/src/features/calendar/calendar.service.ts
  backend/src/features/meals/meals.service.spec.ts
  backend/src/features/nutrition/controllers/nutrition-goals.controller.ts
  backend/src/features/nutrition/services/nutrition-goals.service.ts
  backend/src/features/users/users.controller.ts
  backend/src/features/users/users.service.ts
  backend/src/main.ts
  backend/src/mcp/mcp.service.ts
  frontend/src/components/ui/DatePicker.test.tsx
  frontend/src/components/ui/error-boundary.tsx
  frontend/src/features/calendar/components/DayView.tsx
  frontend/src/features/foods/components/FoodSearch.enhanced.test.tsx
  frontend/src/features/meals/components/CreateMealModal.tsx
  frontend/src/features/meals/hooks/useMealForm.ts
  frontend/src/features/nutrition/components/EnhancedNutritionGoalsCard.tsx
  frontend/src/features/nutrition/components/GoalProgressChart.tsx
  frontend/src/features/nutrition/hooks/useNutritionGoals.ts
  frontend/src/test/test-utils.tsx
Due: cd backend && npm run lint:fix, cd frontend && npm run lint:fix

Path conditions:
  cd backend && npm run lint:fix: any of: backend/**/*.{ts,js}
  cd frontend && npm run lint:fix: any of: frontend/**/*.{ts,tsx,js,jsx}
